/* styles.css */
.grid-container {
        padding-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content:center; /* Adjust alignment as needed */
        gap: 20px; /* Adjust spacing between boxes */
    }


